<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SourceCodePreparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SourceCodePreparer.Properties.Settings>
            <setting name="Filter" serializeAs="String">
                <value>.c .cpp .cxx .h .hpp .hxx .glsl .vert .frag .geom .glvs .glgs .glfs .tcs .tes</value>
            </setting>
        </SourceCodePreparer.Properties.Settings>
    </userSettings>
</configuration>